# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/processed/
data/raw/*.csv

# Models
models/artifacts/*.pkl
models/artifacts/*.joblib

# IDE
.vscode/
.idea/